<!-- <ion-header class="ion-no-border">
  
  <ion-list lines="none">
    <ion-item color="primary">
      <ion-label color="light">Informasi Alur Pencarian Fee</ion-label>
      <ion-avatar slot="end">
        <img src="assets/icon.png" >
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-lZLK+MD6dzg8GCIhpGdWYwHPn7Lyf6M8Pd1PT7/NF3s0sXTFqcbB8P3jHe3Ac0Ap" crossorigin="anonymous"></script> -->
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css"> -->
<!-- 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  -->

<!------ Include the above in your HEAD tag ---------->
<!-- 
<ion-content [fullscreen]="true">
  <div class="container mt-3">
      <ul class="timeline">
          <li>
            <div class="time-label mt-4">
              <span class="label label-success" style="background-color:green; color:white; padding:10px;">Data Pendaftaran</span>
            </div>
            <div class="timeline-badge info mt-5"><i class="fa-solid fa-user"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <h6><a href="#">Pengecekan nominal fee pendaftaran</a> dapat di cek melalui menu <b>Data Pendaftaran.</b></h6>
                <p>Pastikan terdapat jumlah fee pendaftaran</p>
              </div>
            </div>
          </li>
          <li>
            <div class="time-label mt-4">
              <span class="label label-success" style="background-color:green; color:white; padding:10px;">Data Pendaftaran</span>
            </div>
            <div class="timeline-badge info mt-5"><i class="fa-solid fa-user"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <h6><a href="#">Pengecekan nominal fee pendaftaran</a> dapat di cek melalui menu <b>Data Pendaftaran.</b></h6>
                <p>Pastikan terdapat jumlah fee pendaftaran</p>
              </div>
            </div>
          </li>
            <li>
              <div class="time-label mt-4">
              <span class="label label-danger" style="background-color:red; color:white; padding:10px;">Proses pencairan fee selesai</span>
            </div>
            </li>
            <li>
              <div class="timeline-badge warning mt-0"  ><i class="fa-regular fa-clock"></i></div>
          </li>
      </ul>   
      
  </div> -->



<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<ion-header class="ion-no-border">

<ion-list lines="none">
  <ion-item color="primary">
    <ion-label color="light">Informasi Alur pencairan Fee</ion-label>
    <ion-avatar slot="end">
      <img src="assets/icon.png" >
    </ion-avatar>
  </ion-item>
</ion-list>
</ion-header>


  <ion-content [fullscreen]="true">

    <div class="container">
      <div class="timeline">
          <div class="timeline-container primary">
              <div class="timeline-icon">
                  <i class="fas fa-user"></i>
              </div>
              <div class="timeline-body">
                  <h4 class="timeline-title"><span class="badge">Data Pendaftaran</span></h4>
                  <p><span class="badge">>Pengecekan nominal fee pendaftaran</span> dapat di cek melalui menu</p><p>Data Pendaftaran.</p>
                  <p class="timeline-subtitle">Pastikan terdapat jumlah fee pendaftaran</p>
              </div>
          </div>
          <div class="timeline-container danger">
              <div class="timeline-icon">
                  <i class="fas fa-user"></i>
              </div>
              <div class="timeline-body">
                  <h4 class="timeline-title"><span class="badge">Konfirmasi ke bagian BAUM</span></h4>
                  <p><span class="badge">BAUM,</span> Silahkan anda untuk konfirmasi dengan menunjukan daftar data pendaftaran dengan status</p><p><span class="badge">"Verifikasi Pendaftaran OK."</span>
              </div>
          </div>
          <div class="timeline-container">
            <div class="timeline-icon">
                <i class="far fa-clock"></i>
            </div>
            <div>
                <h4 class="timeline-title"><span class="badge">proses pencairan fee selesai</span></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                <p class="timeline-subtitle">3 Days Ago</p>
            </div>
        </div>
          <!-- <div class="timeline-container success">
              <div class="timeline-icon">
                  <i class="fas fa-user"></i>
              </div>
              <div class="timeline-body">
                  <h4 class="timeline-title"><span class="badge">Pengumuman Hasil TPA dan</span></h4>
                  <h4 class="timeline-title"><span class="badge">Melakukan Biaya Daftar Ulang</span></h4>
                  <p><span class="badge">Kegiatan Daftar Ulang</span> Bisa dilakukan secara</p><p>online atau offline.</p>
                  <p class="timeline-subtitle">Setelah ada pengumuman mengenai lolos atau tidaknya terhadap nilai TPA, maka calon mahasiswa yang</p><p>dinyatakan lolos bisa langsung melakukan kegiatan daftar ulang.</p>
              </div> -->
          <!-- </div> -->
          <!-- <div class="timeline-container warning">
              <div class="timeline-icon">
                  <i class="fas fa-user"></i>
              </div> -->
              <!-- <div class="timeline-body">
                  <h4 class="timeline-title"><span class="badge">Melakukan Kegiatan Pra-Studi</span></h4>
                  <p><span class="badge">Pelaksanaan Kegiatan Pra-Studi</span> dilaksanakan di 1 lokasi.</p>
                  <p class="timeline-subtitle">Fakultas Ekonomi dan Komputer dilaksanakan di</p><p>Gedung Kampus Pajajaran.</p>
              </div> -->
          <!-- </div> -->
          
          <!-- <div class="timeline-container info">
              <div class="timeline-icon">
                  <i class="fas fa-user"></i>
              </div>
              <div class="timeline-body">
                  <h4 class="timeline-title"><span class="badge">Info</span></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                  <p class="timeline-subtitle">4 Days Ago</p>
              </div> -->
          <!-- </div> -->
      </div>
  </div>
  

  </ion-content>