<!-- <ion-header class="ion-no-border">
  
  <ion-list lines="none">
    <ion-item color="primary">
      <ion-label color="light">Informasi Alur PMB</ion-label>
      <ion-avatar slot="end">
        <img src="assets/icon.png" >
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-lZLK+MD6dzg8GCIhpGdWYwHPn7Lyf6M8Pd1PT7/NF3s0sXTFqcbB8P3jHe3Ac0Ap" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css"> -->

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  --> -->

<!------ Include the above in your HEAD tag ---------->
<!-- 
<ion-content [fullscreen]="true">
  <div class="container mt-3">
      <ul class="timeline">
          <li>
            <div class="time-label mt-4">
              <span class="label label-success" style="background-color:green; color:white; padding:10px;">Pendaftaran</span>
            </div>
            <div class="timeline-badge info mt-5"><i class="fa-solid fa-user"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <h6><a href="#">Kegiatan pendaftaran</a> dapat dilakukan mulai <b>tanggal 2 Januari s/d 31 Agustus 2024</b></h6>
                <p>Biaya Penddaftaran sebesar Rp.300.000,00.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="time-label mt-4">
              <span class="label label-success" style="background-color:green; color:white; padding:10px;">  <small> Mengikuti Tes Potensi Akademik dan Wawancara</small></span>
            </div>
            <div class="timeline-badge info mt-5"><i class="fa-solid fa-user"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <h6><a href="#">Kegiatan daftar ulang</a> Bisa dilakukan secara <b>Online</b> atau <b>Offline.</b></h6>
                <p>Setelah ada pengumuman mengenai lolos atau tidaknya terhadap nilai TPA, maka calon mahasiswa <b>daftar ulang.</b></p>
              </div>
            </div>
          </li>
          <li>
            <div class="time-label mt-4">
              <span class="label label-danger" style="background-color:red; color:white; padding:10px;">Melakukan Kegiatan Pra-Studi</span>
            </div>
            <div class="timeline-badge info mt-5"><i class="fa-solid fa-user"></i></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <h6><a href="#">Pelaksanan kegiatan Pra-studi</a> Dilaksanakan di 1 lokasi.</h6>
                <p>Fakultas Informatika Komputer dan Fakultas Ekonomi dan Bisnis di <b>Gedung Kampus Pajajaran</b>.</p>
              </div>
            </div>
          </li>
          <li>
              <div class="timeline-badge warning mt-0"  ><i class="fa-regular fa-clock"></i></div>
          </li>
      </ul>
  </div>
</ion-content> -->

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<ion-header class="ion-no-border">

<ion-list lines="none">
  <ion-item color="primary">
    <ion-label color="light">Informasi Alur PMB</ion-label>
    <ion-avatar slot="end">
      <img src="assets/icon.png" >
    </ion-avatar>
  </ion-item>
</ion-list>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="container">
    <div class="timeline">
        <div class="timeline-container primary">
            <div class="timeline-icon">
                <i class="fas fa-user"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Pendaftaran</span></h4>
                <p><span class="badge">Kegiatan Pendaftaran</span> dapat dilakukan mulai</p><p>tanggal 2 Januari s/d 31 Agustus 2024.</p>
                <p class="timeline-subtitle">Biaya Pendaftaran sebesar Rp.300.000,00.</p>
            </div>
        </div>
        <div class="timeline-container danger">
            <div class="timeline-icon">
                <i class="fas fa-user"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Mengikuti Tes Potensi Akademik</span></h4>
                <h4 class="timeline-title"><span class="badge">dan Wawancara</span></h4>
                <p><span class="badge">Tes Potensi Akademik (TPA)</span> Kegiatan ini dilakukan untuk mengetahui kompetensi pengetahuan umum dimana ada 3 jenis pertanyaan diantaranya adalah pertanyaan</p><p>logika, matematika dan umum.</p>
                <p><span class="badge">TPA</span> dilakukan menggunakan berbasis komputer yang diselenggarakan offline/online.</p>
                <p><span class="badge">Wawancara</span> kegiatan ini dilakukan untuk mengetahui minat dan bakat calon mahasiswa.</p>
            </div>
        </div>
        <div class="timeline-container success">
            <div class="timeline-icon">
                <i class="fas fa-user"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Pengumuman Hasil TPA dan</span></h4>
                <h4 class="timeline-title"><span class="badge">Melakukan Biaya Daftar Ulang</span></h4>
                <p><span class="badge">Kegiatan Daftar Ulang</span> Bisa dilakukan secara</p><p>online atau offline.</p>
                <p class="timeline-subtitle">Setelah ada pengumuman mengenai lolos atau tidaknya terhadap nilai TPA, maka calon mahasiswa yang</p><p>dinyatakan lolos bisa langsung melakukan kegiatan daftar ulang.</p>
            </div>
        </div>
        <div class="timeline-container warning">
            <div class="timeline-icon">
                <i class="fas fa-user"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Melakukan Kegiatan Pra-Studi</span></h4>
                <p><span class="badge">Pelaksanaan Kegiatan Pra-Studi</span> dilaksanakan di 1 lokasi.</p>
                <p class="timeline-subtitle">Fakultas Ekonomi dan Komputer dilaksanakan di</p><p>Gedung Kampus Pajajaran.</p>
            </div>
        </div>
        <div class="timeline-container">
            <div class="timeline-icon">
                <i class="far fa-clock"></i>
            </div>
            <div>
                <h4 class="timeline-title"><span class="badge">Secondary</span></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                <p class="timeline-subtitle">3 Days Ago</p>
            </div>
        </div>
        <!-- <div class="timeline-container info">
            <div class="timeline-icon">
                <i class="fas fa-user"></i>
            </div>
            <div class="timeline-body">
                <h4 class="timeline-title"><span class="badge">Info</span></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                <p class="timeline-subtitle">4 Days Ago</p>
            </div> -->
        <!-- </div> -->
    </div>
</div>

</ion-content>